body{
background-color: #EAEBED;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main{
display: inline-block;
margin-left: 30%;
margin-top: 10%; 
width: 40%; 

}

img{
display: inline-block;
width: 40%;
float: left;

}

div{
display: inline-block;
width: 50%;
float: left;
text-align: center;
margin-top: 7%;
margin-left: 10%;
}

h1{
display: inline-block;
width: 100%;
font-size: 64px;
margin: 0;
margin-top: 10px;

}

#one{
display: inline-block;
width: 100%;
font-size: 18px;
margin: 0;
color: #696f89 ;
margin-top: 10px;


}

#two {
display: inline-block;
width: 100%;
font-size: 12px;
margin-top: 30px;
color: #696f89 ;
}

a{
display: inline-block;
background-color: #696f89;
padding: 14px;
padding-right: 36px;
padding-left: 36px;
color: white;
text-decoration: none;
text-transform: uppercase;
text-align: center;

}
